.subDivForm{
    position:fixed;
    bottom:24px;right:30px;background:#fff;
    z-index: 2;
}
.conDivForm{
    padding-bottom:54px;
}
.blockDivForm{
    padding: 20px 0;
    border-bottom: 4px solid #eee;
}
.decVal{
    color: #999;
}
.blockDivForm:last-child{
    border-bottom: 0;
}
.blockDivForm .el-button.is-disabled{
    color: #999;
}
.blockDivForm h3{
    margin-bottom: 16px;
}
.blockDivForm h3 , .blockDivForm h3 i{
    color: #409eff;
}
.blockDivForm .el-input__inner{
    width: 200px;
}
.blockDivForm .join input{
    width:576px!important;
}
.blockDivForm .el-cascader{
    width: 300px;
}
.blockDivForm .el-cascader .el-input__inner{
    width: 100%;
}
.intrDiv{
    display: flex;
    margin-bottom: 16px;
}
.intrDiv label , .intrDiv .labelSpan{
    width: 100px;
}
.intrDiv>label>span , .intrDiv>.labelSpan>span{
    display: inline-block;
    margin-bottom: 8px;
}
.intrDiv>div{
    flex: 1;
}
.addSeclec .el-select{
    width: 100%;
}
.tag-group .el-tag{
    margin: 6px;
}
.blockDivForm .el-tabs{
    width: 90%;
    margin-left: 5%;
}

.el-dialog__body .el-form .el-select{
    width: 100%;
}
.felDiv .el-select , .felDiv .el-select .el-input__inner{
    width: 100%;
}
.felDiv>.el-row>.el-col-8{
    margin-bottom: 16px;
}
.felDiv>.el-row>.el-col-8>.el-col-10{
    text-align: right;
}
.el-button--text{user-select:text;}
.el-image{overflow:visible}