.sous .el-cascader{
    width: 100%;
}
.sous .el-cascader .el-input__inner{
    // width: 100%;
}
.el-tag{
    cursor: pointer;
}
.tag-group{
    // margin-bottom: 10px;
}
.textIN textarea{
    width: 500px;
}
.blockDivForm .cell .el-input__inner{
    width: 100%;
}
.blockDivForm .el-form-item__content .el-col .el-input__inner{
    width: 100%;
}
.blockDivForm .el-form-item__content .el-col-3{
    text-align: center;
    font-size: 20px;
    color: #666;
}
.freTable{
    box-shadow: 0 2px 4px #dcdfe6;
}
.freTable th{
    background: #f5f7fa;
}
.sous>.el-row>.el-col{
    margin-bottom: 10px;
}
.sous .el-select , .sous .el-date-editor{
    width: 100%;
}

.titlePro .el-button--text>span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: pre-wrap;
    text-align: left;
    min-height: 36px;
    line-height: 18px;
    padding: 0 6px;
}
span.proTitleSpan{
    color: #333;
}
div.aaa{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: pre-wrap;
    text-align: left;
    min-height: 38px;
    line-height: 18px;
    padding: 0 6px;
    margin: 6px 0;
  }
span.el-dropdown-link.spanDown{
    color: #409eff;
    cursor: pointer;
    font-size: 12px;
}
.tableDown .el-dropdown-menu__item{
    color: #409eff;
}
.lineDivPro{
    display: flex;
    padding: 0 6px;
    line-height: 25px;
}
.lineDivLeft{
    flex: 1;
    color: #888;
    
    text-align: right;
}
.lineDivRight{
    font-size: 18px;
    color: #409eff;
}
// .proList{
//     display: flex;
// }
.proItemDiv{
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 8px;
}
.proItemDiv.active{
    border: 1px solid #409eff;
    box-shadow: 0 0 10px #409eff;
}
.proItemDiv .decProSN{
    color: #888;
    font-size: 11px;
    margin-bottom: 6px;
    padding: 0 6px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.proItemDiv .errorImgDiv{
    padding-top: calc(50% - 28px);
    padding-bottom: calc(50% - 29px);
    text-align: center;
    font-size: 50px;
    color: #888;
}
.proItemDiv .errorImgDiv1{
    padding-top: calc(50% - 8px);
    padding-bottom: calc(50% - 8px);
    text-align: center;
    color: #888;
}
.proItemDiv .float{
    display: flex;
    margin-bottom: 8px;
    color: #5d83ab;
}
.proItemDiv .float>span:nth-child(2){
    flex: 1;
    text-align: right;
}
.proItemDiv .imgClickSelDiv{
    cursor: pointer;
}
.renlDivC{
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 8px;
}
.btnGroupDiv button{
    margin-bottom: 4px;
}
