.sous .el-cascader{
    width: 100%;
}
.sous .el-cascader .el-input__inner{
    // width: 100%;
}
.el-tag{
    cursor: pointer;
}
.tag-group{
    // margin-bottom: 10px;
}
.textIN textarea{
    width: 500px;
}
.blockDivForm .cell .el-input__inner{
    width: 100%;
}
.blockDivForm .el-form-item__content .el-col .el-input__inner{
    width: 100%;
}
.blockDivForm .el-form-item__content .el-col-3{
    text-align: center;
    font-size: 20px;
    color: #666;
}
.freTable{
    box-shadow: 0 2px 4px #dcdfe6;
}
.freTable th{
    background: #f5f7fa;
}
.sous>.el-row>.el-col{
    margin-bottom: 10px;
}
.sous .el-select , .sous .el-date-editor{
    width: 100%;
}

.el-button--text>span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
span.el-dropdown-link.spanDown{
    color: #409eff;
}
.tableDown .el-dropdown-menu__item{
    color: #409eff;
}